# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Rust
target/
debug/
release/
*.rs.bk
*.rlib
*.prof*
Cargo.lock

# Tauri application data
src-tauri/.index_db/
src-tauri/.search_index/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env*
